<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/project1.css">
	<meta charset="UTF-8">
	<meta name="author" content="Ram Reddy Baddam">
	<meta name="description" content="Ram Reddy Bio">
	<title>About Ram Reddy Baddam</title>
	<script src="project.js"></script>
	<div><nav>
		<a href="/">Main Page</a>
		<a href="/About">About</a>
		<a href="/Trips">Trips</a>
		<a href="/Contact">Contact</a>
		<a href="/Albums">My Album</a>
		<a href="/Schedule">Schedule</a>
		<a href="/Feedbackform">Feedback</a>
		<a href="/game">Game</a>
	  </nav></div>
</head>
<body>
<div class="about" id="about">
	<figure><img src="img/profilepic.jpeg" class="img-profile" alt="DP"></figure>
	<h1>Masters in computer science and engineering</h1>
	<h3>I completed my Bachelor's degree in Computer Science in 2022, laying a strong foundation for my understanding of the field. Building on this knowledge, I am currently pursuing a Master's in Computer Science, aiming to delve deeper into advanced concepts, emerging technologies, and specialized areas within the discipline. This academic journey reflects my commitment to continuous learning and staying abreast of industry trends. As I work towards my Master's, I am eager to contribute to cutting-edge research and leverage my skills to address complex challenges in the ever-evolving world of technology. This educational progression underscores my passion for computer science and my dedication to professional growth.</h3>
	<p>My favourite <span class="motto">motto</span> is</p>
	<p><cite>Dream big, work hard, stay focused </cite></p>
	<blockquote aria-hidden="true">Be the change you want to see in the world </blockquote><q> Mahatma Gandhi</q>	
	<article>
        <section class="details">
            <div class="detail">
                <h3>Nationality</h3>
                <p>INDIAN</p>
            </div>
            <div class="detail">
                <h3>Hobbies</h3>
                <p>Playing cricket, chess, table tennis, kabbadi, etc.</p>
            </div>
        </section>

	</article>
</div>
</body>
</html>