<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/project1.css">
	<meta charset="UTF-8">
	<meta name="author" content="Ram Reddy Baddam">
	<meta name="description" content="Ram Reddy Bio">
	<title>About Ram Reddy Baddam</title>
	<script src="js/project.js"></script>
	<div><nav>
		<a href="/">Main Page</a>
		<a href="/About">About</a>
		<a href="/Trips">Trips</a>
		<a href="/Contact">Contact</a>
		<a href="/Albums">My Album</a>
		<a href="/Schedule">Schedule</a>
		<a href="/Feedbackform">Feedback</a>
		<a href="/game">Game</a>
	  </nav></div>
</head>
<body>
    <div>
        <div class="file" id="file">
        <h1>My Favourite Song</h1>
            <audio controls loop>
                <source src="img/badhabits.mp3" type="audio/webm">
            </audio><br><br>
        <h1>My Favourite Video</h1>
            <iframe width="600" height="480" src="img/suits.mp4" preload="metadata" controls allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>