<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/project1.css">
	<meta charset="UTF-8">
	<meta name="author" content="Ram Reddy Baddam">
	<meta name="description" content="Ram Reddy Bio">
	<title>About Ram Reddy Baddam</title>
	<script src="js/project.js"></script>
	<div><nav>
		<a href="/">Main Page</a>
		<a href="/About">About</a>
		<a href="/Trips">Trips</a>
		<a href="/Contact">Contact</a>
		<a href="/Albums">My Album</a>
		<a href="/Schedule">Schedule</a>
		<a href="/Feedbackform">Feedback</a>
		<a href="/game">Game</a>
	  </nav></div>
</head>
<body>
        <footer class="contact" id="Contact">
            <div>
              <p><span class="symbol">&#9993;</span>Email: ramreddy.baddam@siu.edu</p>
              <p><span class="symbol">&#9742;</span>Contact: 6189383937</p>
              <p><span class="symbol">&#9993;</span>Mailing Address: 123 Robert Str apt #3, Carbondale, IL, 385783</p>
              <p><span class="symbol">&#128279;</span>LinkedIn: <a href="https://www.linkedin.com/in/ram-reddy-baddam/">Ram Reddy Baddam</a></p>
              <p><span class="symbol">&#128172;</span>Twitter: <a href="https://twitter.com/ramreddy"> @ramreddy</a></p>
              <p><span class="symbol">&#128081;</span>GitHub: <a href="https://github.com/ramreddybaddam">Ram Reddy Baddam</a></p>
              <p>&copy; 2024. All rights reserved</p>
            </div>
          </footer>
          
</body>
</html>