<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Open your gift</title>
    <link rel="stylesheet" href="css/gift.css">
    <link rel="stylesheet" href="css/project1.css">
    <div><nav>
      <a href="/">Main Page</a>
      <a href="/About">About</a>
      <a href="/Trips">Trips</a>
      <a href="/Contact">Contact</a>
      <a href="/Albums">My Album</a>
      <a href="/Schedule">Schedule</a>
      <a href="/Feedbackform">Feedback</a>
      <a href="/game">Game</a>
      </nav></div>
    <script src="js/present-sources.js" defer></script>
    <script src="js/present.js" defer></script>
    <script src="js/app.js" defer></script>
    <script src="js/main.js" defer></script>
  </head>
  <body>
    <h1 id="title">Click a present to open it:</h1>
    <div id="presents"></div>
  </body>
</html>

