<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/project1.css">
	<meta charset="UTF-8">
	<meta name="author" content="Ram Reddy Baddam">
	<meta name="description" content="Ram Reddy Bio">
	<title>About Ram Reddy Baddam</title>
	<script src="js/project.js"></script>
	<div><nav>
		<a href="/">Main Page</a>
		<a href="/About">About</a>
		<a href="/Trips">Trips</a>
		<a href="/Contact">Contact</a>
		<a href="/Albums">My Album</a>
		<a href="/Schedule">Schedule</a>
		<a href="/Feedbackform">Feedback</a>
		<a href="/game">Game</a>
	  </nav></div>
</head>
<body>
    <div class="schedule" id="schedule">
        <table>
            <caption>My Daily Routine</caption><br>
                <tr>
                    <th>Time Period</th>
                    <th>No. of Hours</th>
                    <th>Tasks completed</th>
                </tr>
                <tr>
                    <td>8am-10am</td>
                    <td>2 hours</td>
                    <td>Fresh up and have breakfast</td>
                </tr>
                <tr>
                    <td>10am-12pm</td>
                    <td>2 hours</td>
                    <td>student worker</td>
                </tr>
                <tr>
                    <td>12pm-1pm</td>
                    <td>1 hour</td>
                    <td>Have Lunch</td>
                </tr>
                <tr>
                    <td>1pm-4pm</td>
                    <td>3 hours</td>
                    <td>Perform any productive tasks</td>
                </tr>
                <tr>
                    <td>4pm-5:30pm</td>
                    <td>1.5 hours</td>
                    <td>Learn Web Application development</td>
                </tr>
                <tr>
                    <td>5:30pm-8pm</td>
                    <td>2.5 hours</td>
                    <td>Workout and play Cricket</td>
                </tr>
                <tr>
                    <td>8pm-9pm</td>
                    <td>1 hour</td>
                    <td>Have Dinner</td>
                </tr>
                <tr>
                    <td>9pm-11pm</td>
                    <td>2 hours</td>
                    <td>Watch movies or play games</td>
                </tr>
        </table>
    </div>
</body>
</html>