<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/project1.css">
	<meta charset="UTF-8">
	<meta name="author" content="Ram Reddy Baddam">
	<meta name="description" content="Ram Reddy Bio">
	<title>About Ram Reddy Baddam</title>
	<script src="js/project.js"></script>
	<div><nav>
		<a href="/">Main Page</a>
		<a href="/About">About</a>
		<a href="/Trips">Trips</a>
		<a href="/Contact">Contact</a>
		<a href="/Albums">My Album</a>
		<a href="/Schedule">Schedule</a>
		<a href="/Feedbackform">Feedback</a>
		<a href="/game">Game</a>
	  </nav></div>
</head>
<body>
</div>
<div class="vacation">
	<h1>My Recent vacations</h1>
	<p>
		During my recent trip to Kansas, I immersed myself in a delightful blend of exploration and recreation. The Crown Center,<span><a href="https://www.crowncenter.com/">CROWN CENTER</a></span> a bustling complex in Kansas City, captivated me with its vibrant shops, restaurants, and entertainment options. I indulged in a diverse range of experiences, from shopping for unique souvenirs to enjoying delicious local cuisine.
		A highlight of my visit was the Kansas Zoo Park,<span><a href="https://kansascityzoo.org/">Kansas City Zoo</a></span> located in Wichita. The diverse array of over 3,000 animals and 400 species provided an enriching wildlife encounter. Navigating through themed exhibits, I marveled at the majestic creatures, learning about conservation efforts and appreciating the zoo's commitment to education,
		Adding an active twist to my journey, I also enjoyed a round of golf. Kansas offers picturesque golf courses, and the serene landscapes made the game even more enjoyable. The combination of exploring Crown Center, connecting with nature at the zoo, and indulging in a round of golf made my trip to Kansas a well-rounded and memorable experience, leaving me with a deep appreciation for the diverse offerings of this vibrant state.
	
	</p>	
</div>
<div class="Trips" id="Trips" style="height: 50vh; background-color: rgb(85, 83, 96); ">
	<div class="picture">
		<a href="/index.ejs">
		<img src="img/profilepic.jpeg" alt="My photo"></a>
		<p>
			my profile pic
		</p>
	
	</div>
	<div class="picture" >
		<a href="https://dnr.illinois.gov/parks/park.giantcity.html">
		<img src="img/forestroad.jpeg" alt="Forest Road"></a>
		<p>forestroad</p>
	
	</div>
	
	<div class="picture">
		<a href="https://kansascityzoo.org/">
		<img src="img/zooPark.jpeg" alt="zooPark"></a>
		<p>ZOO park</p>
	
	</div>
	
	<div class="picture">
		<a href="https://www.crowncenter.com/">
		<img src="img/snow.jpeg" alt="crowncenter"></a>
		<p>pic at crown center</p>
	
	</div>
	<div class="picture">
		<a href="https://kansascityzoo.org/">
		<img src="img/gang.jpeg" alt="my friends"></a>
		<p>my friends</p>
	
	</div>
	
</div>
</body>
</html>